@model OnlineExamSystem.Models.Question

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.QuestionName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.QuestionName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionA)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionA)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionC)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionC)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OptionD)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OptionD)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RightAnswer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RightAnswer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ExmaPaper)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ExmaPaper.ExamTitle)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
